* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#flex-container {
    background-color: darkseagreen;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#flex-item1, #flex-item2, #flex-item3 {
    background-color: white;
    padding: 20px;
    margin: 20px;
    width: 200px;
}