[Unit]
Description={{ service_name }}
After=multi-user.target

[Service]
PermissionsStartOnly=true
ExecStartPre=/bin/chown -R {{ username }}:{{ username }} {{ home_dir }}
ExecStartPre=/bin/chmod -R 755 {{ home_dir }}
User={{ username }}
WorkingDirectory={{ home_dir }}
ExecStart= {{ executable }} {{ dest_path }}
Restart=always

[Install]
WantedBy=multi-user.target